@using Microsoft.Extensions.Options
@inject IOptions<MovieToGo.Models.Acheter> Stripe
@model MovieToGo.Models.Acheter
@{
    ViewData["Title"] = "Acheter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- inject IOptions<StripeMovieToGo.Data.StripeSittings> Stripe est utilisé pour ne pas devoir rajouter les clef Stripe ici-->
<div class="text-center">
    <form action="/Acheter/Charge/?searchID=@ViewBag.id" method="POST">
        <article>
            <label>Amount: @ViewBag.Displayprice.-</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="@ViewBag.name"
                data-amount="@ViewBag.price.-">
        </script>
    </form>
</div>
