@model MovieToGo.Models.Film

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenue dans MovieToGo</h1>

        Film proposé aléatoirement : 
    <a asp-controller="Film" asp-action="Details" asp-route-id="@ViewBag.idFilm">@Html.DisplayFor(model => model.Nom)</a>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
